* {
  box-sizing: border-box;
  transition: all 200ms;
}
*:not(input) {
  user-select: none;
}
@media (prefers-reduced-motion) {
  * {
    transition: all 0s;
  }
}

:focus {
  outline: 0;
}

main {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  width: 480px;
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: white;
  transform: translateY(calc(-100% + 3rem));
  box-shadow: 0 0.1rem 0.25rem #0004;
  border-radius: 0 0 0.75rem 0;
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;
  font-family: "Google Sans", Roboto, RobotDraft, Helvetica, sans-serif, serif;
  font-size: 1rem;
  cursor: pointer;
}
button {
  font-family: inherit;
  font-size: 0.8rem;
}
main #collapse {
  background: white;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
main.focus {
  transform: none;
  border-radius: 0;
  padding: 1rem;
  cursor: default;
}
main.focus #minimize {
  display: none;
}
main.minimize {
  width: 1rem;
  padding-right: 0;
}

/* Minimize button */
#minimize {
  font-family: inherit;
  font-size: 0.5rem;
  font-weight: bold;
  color: #444;
  margin-left: -1rem;
  flex: 0 0 1rem;
  width: 1rem;
  text-align: center;
  border: 0;
  background: white;
  cursor: pointer;
  overflow-wrap: anywhere;
}
#minimize::before {
  content: "◀";
  transition: inherit;
}
#minimize:hover::before,
.minimize #minimize::before {
  margin-left: -2px;
}
.minimize #minimize::before {
  content: "▶";
}
.minimize #minimize:hover::before {
  margin-left: 0;
}

#previews {
  /* margin-top: 1rem; */
  height: 100%;
  display: flex;
}

#previews video,
#previews canvas {
  /* show pretty background */
  background-image: linear-gradient(
    90deg,
    hsl(18, 100%, 68%) 16.7%,
    hsl(-10, 100%, 80%) 16.7%,
    hsl(-10, 100%, 80%) 33.3%,
    hsl(5, 90%, 72%) 33.3%,
    hsl(5, 90%, 72%) 50%,
    hsl(48, 100%, 75%) 50%,
    hsl(48, 100%, 75%) 66.7%,
    hsl(36, 100%, 70%) 66.7%,
    hsl(36, 100%, 70%) 83.3%,
    hsl(20, 90%, 70%) 83.3%
  );
}

#preview-container {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  width: 100%;

  display: flex;
  flex-direction: column;
}

#preview-container video,
#preview-container canvas {
  width: inherit;
  height: 100%;
}

#title {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: #444;
  line-height: 1.5rem;
}

:hover #title {
  transform: translateY(0.1rem); /* Tiny nudge downwards */
}

.focus #title {
  display: none;
}

/* Turn the "fold" into a CSS grid. */
#fold {
  display: grid;
}

/* set every element to have grid androw 1. this works. do i know why? no! */
#fold * {
  grid-row: 1;
  grid-column: 1;
}

#preview-container {
  width: inherit;
}

/* Show/hide the previews if focused/unfocused */
#preview-container {
  display: none;
}

.focus #preview-container {
  display: flex;
}

.focus #previews {
  height: auto;
}

#presets,
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#presets > * {
  border: 0;
  background: transparent;
  flex-grow: 1;
}
#presets > :first-child {
  border-radius: 100px 0 0 100px;
}
#presets > :last-child {
  border-radius: 0 100px 100px 0;
}

label {
  height: 2rem;
}

label > * {
  width: calc(100% - 6.5rem);
}

label > *,
#collapse {
  height: 1.5rem;
  border-radius: 0.75rem;
  border: 0.25rem solid lightgray;
}

label > :hover,
#collapse:hover {
  border: 0.25rem solid gray;
}

#presets > :hover {
  background: #0003;
}

#presets > :focus {
  background: black;
  color: white;
}

#presets:focus-within,
#collapse:focus,
label > :focus {
  border-color: black;
}

input[type="range"] {
  -webkit-appearance: none;
  --gradient: transparent, transparent;
  --rainbow: hsl(0, 80%, 75%), hsl(30, 80%, 75%), hsl(60, 80%, 75%),
    hsl(90, 80%, 75%), hsl(120, 80%, 75%), hsl(150, 80%, 75%),
    hsl(180, 80%, 75%), hsl(210, 80%, 75%), hsl(240, 80%, 75%),
    hsl(270, 80%, 75%), hsl(300, 80%, 75%), hsl(330, 80%, 75%);
  background: linear-gradient(90deg, var(--gradient)),
    linear-gradient(90deg, var(--rainbow));
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  width: 1rem;
  height: 1rem;
  border: 0.25rem solid black;
  border-radius: 0.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border-color: white;
  background: black;
}

input#pillarbox,
input#letterbox {
  --gradient: black, white;
}
