* {
  box-sizing: border-box;
  transition: all 200ms;
}
*:not(input) {
  user-select: none;
}
@media (prefers-reduced-motion) {
  * {
    transition: all 0s;
  }
}
:focus {
  outline: 0;
}
main {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  width: 480px;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  transform: translateY(calc(-100% + 3rem));
  box-shadow: 0 0.1rem 0.25rem #0004;
  border-radius: 0 0 0.75rem 0;
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;
  font-family: "Google Sans", Roboto, RobotDraft, Helvetica, sans-serif, serif;
  font-size: 1rem;
  cursor: pointer;
}
button {
  font-family: inherit;
  font-size: 0.8rem;
}
main #collapse {
  background: white;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
main.focus {
  transform: none;
  border-radius: 0;
  height: 100vh;
  padding: 1rem;
  cursor: default;
  overflow: hidden scroll;
}
main.focus #minimize {
  display: none;
}
main.minimize {
  width: 1rem;
  padding-right: 0;
}
#minimize {
  font-family: inherit;
  font-size: 0.5rem;
  font-weight: bold;
  color: #444;
  margin-left: -1rem;
  flex: 0 0 1rem;
  width: 1rem;
  text-align: center;
  border: 0;
  background: white;
  cursor: pointer;
  overflow-wrap: anywhere;
}
#minimize::before {
  content: "◀";
  transition: inherit;
}
#minimize:hover::before,
.minimize #minimize::before {
  margin-left: -2px;
}
.minimize #minimize::before {
  content: "▶";
}
.minimize #minimize:hover::before {
  margin-left: 0;
}
#previews {
  margin-top: 1rem;
  height: 3rem;
  display: flex;
}
#previews > video,
#previews > canvas {
  height: 100%;
  width: auto;
  background-image: linear-gradient(
    90deg,
    hsl(18, 100%, 68%) 16.7%,
    hsl(-10, 100%, 80%) 16.7%,
    hsl(-10, 100%, 80%) 33.3%,
    hsl(5, 90%, 72%) 33.3%,
    hsl(5, 90%, 72%) 50%,
    hsl(48, 100%, 75%) 50%,
    hsl(48, 100%, 75%) 66.7%,
    hsl(36, 100%, 70%) 66.7%,
    hsl(36, 100%, 70%) 83.3%,
    hsl(20, 90%, 70%) 83.3%
  );
  margin-right: 1rem;
}
#previews > h1 {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: #444;
  line-height: 1.5rem;
}
:hover > #previews > h1 {
  transform: translateY(0.1rem); /* Tiny nudge downwards */
}
.focus > #previews > h1 {
  display: none;
}
.focus > #previews {
  height: auto;
}
.focus > #previews > * {
  height: auto;
  width: calc(50% - 0.5rem);
}
#presets,
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#presets > * {
  border: 0;
  background: transparent;
  flex-grow: 1;
}
#presets > :first-child {
  border-radius: 100px 0 0 100px;
}
#presets > :last-child {
  border-radius: 0 100px 100px 0;
}
label {
  height: 2rem;
}
label > * {
  width: calc(100% - 6.5rem);
}
label > *,
#collapse {
  height: 1.5rem;
  border-radius: 0.75rem;
  border: 0.25rem solid lightgray;
}
label > :hover,
#collapse:hover {
  border: 0.25rem solid gray;
}
#presets > :hover {
  background: #0003;
}
#presets > :focus {
  background: black;
  color: white;
}
#presets:focus-within,
#collapse:focus,
label > :focus {
  border-color: black;
}
textarea {
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  resize: none;
  line-height: 1;
}
input[type="range"] {
  -webkit-appearance: none;
  --gradient: transparent, transparent;
  --rainbow: hsl(0, 80%, 75%), hsl(30, 80%, 75%), hsl(60, 80%, 75%),
    hsl(90, 80%, 75%), hsl(120, 80%, 75%), hsl(150, 80%, 75%),
    hsl(180, 80%, 75%), hsl(210, 80%, 75%), hsl(240, 80%, 75%),
    hsl(270, 80%, 75%), hsl(300, 80%, 75%), hsl(330, 80%, 75%);
  background: linear-gradient(90deg, var(--gradient)),
    linear-gradient(90deg, var(--rainbow));
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  width: 1rem;
  height: 1rem;
  border: 0.25rem solid black;
  border-radius: 0.5rem;
}
input[type="range"]:focus::-webkit-slider-thumb {
  border-color: white;
  background: black;
}
input#exposure,
input#fog,
input#vignette {
  --gradient: black, #8880, white;
}
input#contrast {
  --gradient: gray, #8880;
}
input#temperature {
  --gradient: #88f, #8880, #ff8;
}
input#tint {
  --gradient: #f8f, #8880, #8f8;
}
input#sepia {
  --gradient: #8880, #aa8;
}
input#hue,
input#rotate {
  background: linear-gradient(
    90deg,
    hsl(0, 80%, 75%),
    hsl(60, 80%, 75%),
    hsl(120, 80%, 75%),
    hsl(180, 80%, 75%),
    hsl(240, 80%, 75%),
    hsl(300, 80%, 75%),
    hsl(0, 80%, 75%),
    hsl(60, 80%, 75%),
    hsl(120, 80%, 75%),
    hsl(180, 80%, 75%),
    hsl(240, 80%, 75%),
    hsl(300, 80%, 75%),
    hsl(0, 80%, 75%)
  );
}
input#saturate {
  --gradient: gray, #8880 50%, blue, magenta;
}
input#blur {
  --gradient: #8880, gray;
}
input#scale,
input#x,
input#y,
input#pillarbox,
input#letterbox {
  --gradient: black, white;
}
